In [1]:
import pandas as pd
import os
import numpy as np

In [ ]:
import os
print(os.getcwd())

'c:\\Users\\hp\\Desktop\\MLOps project\\End-to-End-Customer-Churn-Prediction-using-MLflow-and-DVC\\research'

In [4]:
os.chdir("../")

In [ ]:
import os
print(os.getcwd())

'c:\\Users\\hp\\Desktop\\MLOps project\\End-to-End-Customer-Churn-Prediction-using-MLflow-and-DVC'

In [81]:
df = pd.read_csv('artifacts\data_ingestion\Churn_Modelling.csv')

In [82]:
df = df.dropna()

In [83]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [84]:
df = df.drop_duplicates()

In [85]:
df.duplicated().sum()

np.int64(0)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9996 entries, 0 to 10000
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9996 non-null   int64
 1   CustomerId       9996 non-null   int64
 2   Surname          9996 non-null   object
 3   CreditScore      9996 non-null   int64
 4   Geography        9996 non-null   object
 5   Gender           9996 non-null   object
 6   Age              9996 non-null   float64
 7   Tenure           9996 non-null   int64
 8   Balance          9996 non-null   float64
 9   NumOfProducts    9996 non-null   int64
 10  HasCrCard        9996 non-null   float64
 11  IsActiveMember   9996 non-null   float64
 12  EstimatedSalary  9996 non-null   float64
 13  Exited           9996 non-null   int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB

In [87]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,9996.000000,9.996000e+03,9996.000000,9996.000000,9996.000000,9996.000000,9996.000000,9996.000000,9996.000000,9996.000000,9996.000000
mean,5002.497899,1.569095e+07,650.503301,38.921071,5.013305,76476.263216,1.530212,0.705482,0.514906,100106.701248,0.203782
std,2885.744618,7.192840e+04,96.624668,10.488421,2.892353,62397.118820,0.581684,0.455849,0.499803,57513.314398,0.402829
min,1.000000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,2503.750000,1.562855e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,51002.110000,0.000000
50%,5002.500000,1.569074e+07,652.000000,37.000000,5.000000,97173.290000,1.000000,1.000000,1.000000,100238.110000,0.000000
75%,7501.250000,1.575323e+07,717.250000,44.000000,7.250000,127639.372500,2.000000,1.000000,1.000000,149400.107500,0.000000
max,10000.000000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [88]:
unique_values_df = pd.DataFrame({
    'Column': df.columns,
    'Unique Values': [df[col].unique() for col in df.columns],
    'No. of Unique Values': [df[col].nunique() for col in df.columns]
})

In [89]:
unique_values_df

,Column,Unique Values,No. of Unique Values
0,RowNumber,"[1, 2, 3, 4, 6, 8, 11, 12, 13, 14, 15, 16, 17,...",9996
1,CustomerId,"[15634602, 15647311, 15619304, 15701354, 15574...",9996
2,Surname,"[Hargrave, Hill, Onio, Boni, Chu, Obinna, Bear...",2932
3,CreditScore,"[619, 608, 502, 699, 645, 376, 528, 497, 476, ...",460
4,Geography,"[France, Spain, Germany]",3
5,Gender,"[Female, Male]",2
6,Age,"[42.0, 41.0, 39.0, 44.0, 29.0, 31.0, 24.0, 34....",73
7,Tenure,"[2, 1, 8, 4, 6, 3, 10, 5, 7, 9, 0]",11
8,Balance,"[0.0, 83807.86, 159660.8, 113755.78, 115046.74...",6379
9,NumOfProducts,"[1, 3, 2, 4]",4
10,HasCrCard,"[1.0, 0.0]",2
11,IsActiveMember,"[1.0, 0.0]",2
12,EstimatedSalary,"[101348.88, 112542.58, 113931.57, 93826.63, 14...",9995
13,Exited,"[1, 0]",2

In [90]:
df['IsActiveMember'] = df['IsActiveMember'].astype(int)
df['HasCrCard'] = df['HasCrCard'].astype(int)
df['Age'] = df['Age'].astype(int)

In [91]:
df = df.drop(['RowNumber','CustomerId', 'Surname'], axis=1)

In [92]:
mapping = {'Male': 0, 'Female': 1}
df['Gender'] = df['Gender'].map(mapping)

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9996 entries, 0 to 10000
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      9996 non-null   int64
 1   Geography        9996 non-null   object
 2   Gender           9996 non-null   int64
 3   Age              9996 non-null   int64
 4   Tenure           9996 non-null   int64
 5   Balance          9996 non-null   float64
 6   NumOfProducts    9996 non-null   int64
 7   HasCrCard        9996 non-null   int64
 8   IsActiveMember   9996 non-null   int64
 9   EstimatedSalary  9996 non-null   float64
 10  Exited           9996 non-null   int64
dtypes: float64(2), int64(8), object(1)
memory usage: 937.1+ KB

In [94]:
X = df.drop('Exited', axis=1)
y = df['Exited']

In [95]:
num_cols = X.select_dtypes(include=np.number).columns.to_list()
cat_cols = X.select_dtypes(exclude=np.number).columns.to_list()

In [96]:
print(num_cols)
print(cat_cols)

['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']
['Geography']

In [97]:
from sklearn.model_selection import train_test_split

In [98]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [99]:
X_train.shape

(7996, 10)

In [100]:
type(X_train), type(y_train)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [101]:
X_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
4851,530,France,1,48,0,0.00,1,1,0,85081.09
6524,651,Germany,1,35,1,163700.78,3,1,1,29583.48
4370,725,France,0,39,4,160652.45,2,1,0,57643.55
2308,488,Germany,1,33,4,140002.35,1,1,0,123613.81
4529,664,France,1,44,8,142989.69,1,1,1,115452.51

In [102]:
y_train.head()

4851    0
6524    1
4370    0
2308    0
4529    1
Name: Exited, dtype: int64

In [103]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [104]:
num_pipeline = Pipeline(steps=[
    ('scaler', MinMaxScaler())
])

cat_pipeline = Pipeline(steps=[
    ('one_hot_enc', OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False))
])

transformer = ColumnTransformer(transformers=[
    ('num_pipeline', num_pipeline, num_cols),
    ('cat_pipeline', cat_pipeline, cat_cols),
    ],remainder='passthrough',
    n_jobs=-1
)

In [105]:
X_train_transformed = transformer.fit_transform(X_train)
X_test_transformed = transformer.transform(X_test)

In [106]:
X_train_transformed.shape

(7996, 11)

In [107]:
type(X_train_transformed)

numpy.ndarray

In [108]:
X_train_transformed[0]

array([0.36      , 1.        , 0.40540541, 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.42515773, 0.        ,
       0.        ])

In [109]:
feature_names = transformer.get_feature_names_out()
feature_names

array(['num_pipeline__CreditScore', 'num_pipeline__Gender',
       'num_pipeline__Age', 'num_pipeline__Tenure',
       'num_pipeline__Balance', 'num_pipeline__NumOfProducts',
       'num_pipeline__HasCrCard', 'num_pipeline__IsActiveMember',
       'num_pipeline__EstimatedSalary', 'cat_pipeline__Geography_Germany',
       'cat_pipeline__Geography_Spain'], dtype=object)

In [110]:
X_train_transformed_df = pd.DataFrame(X_train_transformed, columns=feature_names)
X_test_transformed_df = pd.DataFrame(X_test_transformed, columns=feature_names)

In [111]:
X_train_transformed_df

,num_pipeline__CreditScore,num_pipeline__Gender,num_pipeline__Age,num_pipeline__Tenure,num_pipeline__Balance,num_pipeline__NumOfProducts,num_pipeline__HasCrCard,num_pipeline__IsActiveMember,num_pipeline__EstimatedSalary,cat_pipeline__Geography_Germany,cat_pipeline__Geography_Spain
0,0.360,1.0,0.405405,0.0,0.000000,0.000000,1.0,0.0,0.425158,0.0,0.0
1,0.602,1.0,0.229730,0.1,0.686700,0.666667,1.0,1.0,0.147532,1.0,0.0
2,0.750,0.0,0.283784,0.4,0.673913,0.333333,1.0,0.0,0.287902,0.0,0.0
3,0.276,1.0,0.202703,0.4,0.587289,0.000000,1.0,0.0,0.617917,1.0,0.0
4,0.628,1.0,0.351351,0.8,0.599820,0.000000,1.0,1.0,0.577090,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
7991,0.606,0.0,0.270270,0.8,0.500512,0.000000,1.0,0.0,0.752256,0.0,0.0
7992,1.000,0.0,0.270270,0.2,0.397051,0.000000,1.0,1.0,0.859772,0.0,1.0
7993,0.574,1.0,0.351351,0.0,0.661203,0.000000,1.0,1.0,0.602111,0.0,1.0
7994,0.488,0.0,0.270270,0.4,0.000000,0.333333,0.0,0.0,0.934425,0.0,0.0
7995,0.604,1.0,0.216216,0.6,0.408729,0.333333,1.0,1.0,0.521459,0.0,0.0

In [112]:
y_train_df = y_train.to_frame().reset_index(drop=True)
y_test_df = y_test.to_frame().reset_index(drop=True)

In [113]:
train_preprocessed = pd.concat([X_train_transformed_df, y_train_df], axis=1)
test_preprocessed = pd.concat([X_test_transformed_df, y_test_df], axis=1)

In [114]:
train_preprocessed

,num_pipeline__CreditScore,num_pipeline__Gender,num_pipeline__Age,num_pipeline__Tenure,num_pipeline__Balance,num_pipeline__NumOfProducts,num_pipeline__HasCrCard,num_pipeline__IsActiveMember,num_pipeline__EstimatedSalary,cat_pipeline__Geography_Germany,cat_pipeline__Geography_Spain,Exited
0,0.360,1.0,0.405405,0.0,0.000000,0.000000,1.0,0.0,0.425158,0.0,0.0,0
1,0.602,1.0,0.229730,0.1,0.686700,0.666667,1.0,1.0,0.147532,1.0,0.0,1
2,0.750,0.0,0.283784,0.4,0.673913,0.333333,1.0,0.0,0.287902,0.0,0.0,0
3,0.276,1.0,0.202703,0.4,0.587289,0.000000,1.0,0.0,0.617917,1.0,0.0,0
4,0.628,1.0,0.351351,0.8,0.599820,0.000000,1.0,1.0,0.577090,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7991,0.606,0.0,0.270270,0.8,0.500512,0.000000,1.0,0.0,0.752256,0.0,0.0,0
7992,1.000,0.0,0.270270,0.2,0.397051,0.000000,1.0,1.0,0.859772,0.0,1.0,0
7993,0.574,1.0,0.351351,0.0,0.661203,0.000000,1.0,1.0,0.602111,0.0,1.0,0
7994,0.488,0.0,0.270270,0.4,0.000000,0.333333,0.0,0.0,0.934425,0.0,0.0,0
7995,0.604,1.0,0.216216,0.6,0.408729,0.333333,1.0,1.0,0.521459,0.0,0.0,0